@media (max-width: 575.98px) {
  .content-popsicle {
    width: 60%;
    height: 48vh;
  }

  .eyelashes-left,
  .eyelashes-right {
    width: 2vw;
  }

  .popsicle-stick {
    width: 14%;
  }

  .popsicle-stick-shadow {
    width: 20%;
  }

  .big-drop {
    top: 2vh;
    right: 8vh;
  }

  .little-drop {
    top: 3vh;
    right: 6vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .content-popsicle {
    width: 25%;
  }

  .popsicle-stick {
    width: 6%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .content-popsicle {
    width: 40%;
  }

  .eyelashes-left,
  .eyelashes-right {
    width: 2vw;
  }

  .popsicle-stick {
    width: 10%;
  }

  .big-drop {
    right: 8vh;
  }

  .little-drop {
    right: 6vh;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .content-popsicle {
    width: 35%;
    height: 45vh;
  }

  .content-left-eye,
  .content-right-eye {
    border-radius: 50px 50px 0 0;
  }

  .eyelashes-right,
  .eyelashes-left {
    width: 2vw;
  }

  .left-iris,
  .right-iris {
    border-radius: 40px 40px 0 0;
  }

  .popsicle-stick {
    width: 8%;
    border-radius: 0 0 40px 40px;
  }

  .big-drop {
    right: 8vh;
  }

  .little-drop {
    right: 6vh;
  }
}
