body {
  margin: 0;
  background-color: pink;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content-popsicle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6961;
  width: 18%;
  height: 52vh;
  z-index: 1;
  gap: 2em;
  border-radius: 60vw 60vw 25% 25%;
  box-shadow: 2px 3px 18px #888888;
}

.content-right-eye {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background: #ee6459;
  border-radius: 40px 40px 0 0;
  width: 30%;
  height: 32vh;
}

.content-eyelashes-right {
  display: flex;
  position: relative;
  top: 7%;
  right: -6%;
}

.eyelashes-right {
  width: 1vw;
  height: 4vh;
  border-left: 5px solid black;
  border-radius: 100%;
  z-index: 1;
}

.right-eye {
  display: flex;
  align-items: end;
  background: white;
  flex-direction: column-reverse;
  border-radius: 35px 35px 0 0;
  width: 70%;
  height: 28vh;
  z-index: 1;
}

.right-iris {
  background: black;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 15vh;
}

.small-right-pupil {
  background: white;
  border-radius: 50%;
  width: 10%;
  height: 5%;
  position: relative;
  top: 12%;
  right: -76%;
}

.right-large-pupil {
  background: white;
  border-radius: 50%;
  width: 20%;
  height: 10%;
  position: relative;
  top: 14%;
  right: -55%;
}

.content-left-eye {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background: #ee6459;
  border-radius: 40px 40px 0 0;
  width: 30%;
  height: 32vh;
}

.content-eyelashes-left {
  display: flex;
  position: relative;
  top: 7%;
  left: -6%;
}

.eyelashes-left {
  width: 1vw;
  height: 4vh;
  border-right: 5px solid black;
  border-radius: 100%;
  z-index: 1;
}

.left-eye {
  display: flex;
  align-items: end;
  background: white;
  flex-direction: column-reverse;
  border-radius: 35px 35px 0 0;
  width: 70%;
  height: 28vh;
  z-index: 1;
}

.left-iris {
  background: black;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 15vh;
}

.small-left-pupil {
  background: white;
  border-radius: 50%;
  width: 10%;
  height: 5%;
  position: relative;
  top: 12%;
  left: 76%;
}

.left-large-pupil {
  background: white;
  border-radius: 50%;
  width: 20%;
  height: 10%;
  position: relative;
  top: 14%;
  left: 55%;
}

.drop {
  position: relative;
  background-color: #ee6459;
  border-radius: 0% 50% 50% 50%;
  transform: rotate(45deg);
  z-index: 1;
}

.big-drop {
  height: 20px;
  width: 20px;
  top: 2vh;
  right: 10vh;
  box-shadow: inset -8px 6px 0px -6px #cc550d;
}

.little-drop {
  height: 15px;
  width: 15px;
  top: 3vh;
  right: 7vh;
  box-shadow: inset -8px 6px 0px -6px #cc550d;
}

.popsicle-stick {
  background: blanchedalmond;
  width: 4%;
  height: 15vh;
  z-index: 1;
  border-radius: 0 0 30px 30px;
  box-shadow: 6px 1px 18px #888888;
}

.popsicle-stick-shadow {
  background: #d0abab;
  width: 10%;
  height: 1vh;
  border-radius: 100%;
  box-shadow: 1px 5px 18px #888888;
}
