body {
  margin: 0;
  background-color: pink;
  overflow: hidden;
}

.container {
  display: grid;
  justify-content: center;
  place-items: center;
  height: 90vh;
}

.content-popsicle {
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #ff6961;
  width: 20%;
  height: 52vh;
  border-radius: 60vw 60vw 25% 25%;
  box-shadow: 2px 3px 18px #888888;
}

.content-right-eye {
  background: #ee6459;
  border-radius: 35px 35px 0 0;
  width: 25%;
  height: 32vh;
  position: relative;
  right: -60%;
  top: 20%;
}

.eyelashes {
  position: absolute;
  width: 35%;
  height: 15%;
  border-radius: 100%;
  border-left: 6px solid #000000;
  animation: close_eyes 5s alternate infinite;
}

.eyelashes-right-1{
  top: 9%;
  right: 30%;
}

.eyelashes-right-2{
  top: 9%;
  right: 12%;
}

.eyelashes-right-3{
  top: 9%;
  right: -6%;
}

.right-eye {
  background: white;
  border-radius: 35px 35px 0 0;
  width: 70%;
  height: 27vh;
  position: relative;
  right: -15%;
  top: 15.6%;
}

.right-iris {
  background: black;
  position: relative;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 15vh;
  top: 44.6%;
}

.small-right-pupil{
  background: white;
  border-radius: 50%;
  width: 10%;
  height: 5%;
  position: relative;
  top: 12%;
  right: -76%;
}

.right-large-pupil{
  background: white;
  border-radius: 50%;
  width: 20%;
  height: 10%;
  position: relative;
  top: 14%;
  right: -55%;
}

.content-left-eye {
  background: #ee6459;
  border-radius: 35px 35px 0 0;
  width: 25%;
  height: 32vh;
  position: relative;
  left: 15%;
  top: -42%;
}

.eyelashes-left-1{
  top: 9%;
  left: 60%;
}

.eyelashes-left-2{
  top: 9%;
  left: 43%;
}

.eyelashes-left-3{
  top: 9%;
  left: 25%;
}

.left-eye {
  background: white;
  border-radius: 35px 35px 0 0;
  width: 70%;
  height: 27vh;
  position: relative;
  left: 15%;
  top: 15.6%;
}

.left-iris {
  background: black;
  position: relative;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 15vh;
  top: 44.6%;
}

.small-left-pupil{
  background: white;
  border-radius: 50%;
  width: 10%;
  height: 5%;
  position: relative;
  top: 12%;
  left: 76%;
}

.left-large-pupil{
  background: white;
  border-radius: 50%;
  width: 20%;
  height: 10%;
  position: relative;
  top: 14%;
  left: 55%;
}

.popsicle-stick {
  background: blanchedalmond;
  width: 5%;
  height: 15vh;
  position: absolute;
  top: 71%;
  border-radius: 0 0 30px 30px;
  box-shadow: 3px 1px 18px #888888;
}

.popsicle-stick-shadow {
  background: #d0abab;
  width: 10%;
  height: 1vh;
  position: absolute;
  top: 86%;
  border-radius: 100%;
  box-shadow: 1px 5px 18px #888888;
}
